body{
    background-color: hsl(315, 10%, 69%);    
}
h1 {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 3px 3px 5px hsl(0, 100%, 61%), -3px -3px 5px hsl(182, 100%, 61%);
    border-radius: 20px;
    padding: 5px;
    border-bottom: 3px solid hsl(59, 76%, 48%);
    border-left: 3px dotted hsl(123, 100%, 61%);
    border-right: 3px dotted hsl(251, 100%, 61%);
    border-top: 3px solid hsl(45, 76%, 48%);
}
h2{
    border-bottom: 3px solid hsl(288, 76%, 48%);
    border-left: 3px dotted hsl(93, 90%, 16%);
    border-right: 3px dotted hsl(251, 68%, 38%);
    border-top: 3px solid hsl(45, 73%, 35%);
    text-shadow: 3px 3px 5px hsl(0, 100%, 61%), -3px -3px 5px hsl(182, 100%, 61%);
    width: 150px;
    border-radius: 20px;
    text-align: center;
}

.pantryGoods{
    float: left;
    width: 300px;
    border-bottom: 3px solid hsl(315, 76%, 48%);
    border-left: 3px dotted hsl(17, 95%, 15%);
    border-right: 3px dotted hsl(251, 55%, 44%);
    border-top: 3px solid hsl(45, 84%, 34%);
    font: 1em;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 15px;
    padding: 10px;
    border-radius: 20px;
    color: hsl(245, 27%, 44%);
}
.veggiesSnacks{
    float: left;
    width: 300px;
    border-bottom: 3px solid hsl(315, 76%, 48%);
    border-left: 3px dotted hsl(17, 95%, 15%);
    border-right: 3px dotted hsl(251, 55%, 44%);
    border-top: 3px solid hsl(45, 84%, 34%);
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 15px;
    padding: 10px;
    border-radius: 20px;
    color: hsl(245, 27%, 44%);
}