body{
    background-color: hsl(315, 10%, 69%);    
}
h1 {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 3px 3px 5px hsl(0, 100%, 61%), -3px -3px 5px hsl(182, 100%, 61%);
    border-radius: 20px;
    padding: 5px;
    border-bottom: 3px solid hsl(59, 76%, 48%);
    border-left: 3px dotted hsl(123, 100%, 61%);
    border-right: 3px dotted hsl(251, 100%, 61%);
    border-top: 3px solid hsl(45, 76%, 48%);
}
h2{
    border-bottom: 3px solid hsl(288, 76%, 48%);
    border-left: 3px dotted hsl(93, 90%, 16%);
    border-right: 3px dotted hsl(251, 68%, 38%);
    border-top: 3px solid hsl(45, 73%, 35%);
    text-shadow: 3px 3px 5px hsl(0, 100%, 61%), -3px -3px 5px hsl(182, 100%, 61%);
    width: 150px;
    border-radius: 20px;
    text-align: center;
}

.pantryGoods{
    float: left;
    width: 300px;
    border-bottom: 3px solid hsl(315, 76%, 48%);
    border-left: 3px dotted hsl(17, 95%, 15%);
    border-right: 3px dotted hsl(251, 55%, 44%);
    border-top: 3px solid hsl(45, 84%, 34%);
    font: 1em;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 15px;
    padding: 10px;
    border-radius: 20px;
    color: hsl(245, 27%, 44%);
}
.veggiesSnacks{
    float: left;
    width: 300px;
    border-bottom: 3px solid hsl(315, 76%, 48%);
    border-left: 3px dotted hsl(17, 95%, 15%);
    border-right: 3px dotted hsl(251, 55%, 44%);
    border-top: 3px solid hsl(45, 84%, 34%);
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 15px;
    padding: 10px;
    border-radius: 20px;
    color: hsl(245, 27%, 44%);
}

/* h3{
    border: 3px solid hsl(294, 35%, 57%);
    border-radius: 20px;
} */


/* .pantryGoods {
    background-color: hsl(247, 67%, 37%);
    color: hsl(123, 18%, 41%);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1em;
    width: 10%;
    height: 110px;
    border-radius: 10px;
    border: 3px solid hsl(294, 35%, 57%);
    float: right;
} */

/* .veggiesSnacks {
    background-color: hsl(247, 67%, 37%);
    color: hsl(123, 18%, 41%);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1em;
    width: 10%;
    height: 130px;
    border-radius: 10px;
    border: 3px solid hsl(294, 35%, 57%);
    float: left;

} */

/* h3{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: hsl(0, 0%, 100%);
    border-radius: 10px;
    border-bottom: 3px solid #af5151;
    border-left: 3px dotted #38f8ff;
    border-right: 3px dotted #ff7038;
    border-top: 3px solid #1dd75b;
    width: 10%;
    text-align: center;
    float: left;
} */

/* #dryItems{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: hsl(0, 0%, 100%);
    border-radius: 10px;
    border-bottom: 3px solid #af5151;
    border-left: 3px dotted #38f8ff;
    border-right: 3px dotted #ff7038;
    border-top: 3px solid #1dd75b;
    width: 14%;
    height: 110%;
    text-align: center;
} */

/* #cannedFreezer{
   
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 3px 3px 5px hsl(0, 100%, 61%), -3px -3px 5px hsl(182, 100%, 61%);
    border: 3px solid hsl(294, 35%, 57%);
    border-radius: 10px;
    padding: 5px;
    width: 7%;
    text-align: center;
    border-bottom: 3px solid hsl(0, 76%, 48%);
    border-left: 3px dotted hsl(206, 100%, 61%);
    border-right: 3px dotted hsl(206, 100%, 61%);
    border-top: 3px solid hsl(0, 76%, 48%);
    
} */
/* #freezerItem{
   
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 3px 3px 5px hsl(0, 100%, 61%), -3px -3px 5px hsl(182, 100%, 61%);
    border: 3px solid hsl(294, 35%, 57%);
    border-radius: 10px;
    padding: 5px;
    width: 13%;
    text-align: center;
    border-bottom: 3px solid hsl(0, 76%, 48%);
    border-left: 3px dotted hsl(206, 100%, 61%);
    border-right: 3px dotted hsl(206, 100%, 61%);
    border-top: 3px solid hsl(0, 76%, 48%);
    
} */


/* .pantryList{
    border: 1px solid hsl(0, 81%, 35%);
    width: 99%;
    padding: 4px;
    margin: 5px;
    border-radius: 10px;
    border-bottom: 3px solid hsl(59, 76%, 48%);
    border-left: 3px dotted hsl(123, 100%, 61%);
    border-right: 3px dotted hsl(251, 100%, 61%);
    border-top: 3px solid hsl(45, 76%, 48%);
    float: left;
    
} */
